<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <from action="/recipe" method = 'post'>
        <select name="name">
            <option value="Chicken Taco">Chicken Taco</option>
            <option value="Beef Taco">Beef Taco</option>
            <option value="Fish Taco">Fish Taco</option>
        </select> <br>
<button >Submit</button>
    </from>
</body>
</html>